EXPO_PUBLIC_API_URL=http://192.168.29.199:3000
EXPO_PUBLIC_SUPABASE_URL=your_supabase_url
EXPO_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key
EXPO_PUBLIC_FIREBASE_WEB_CLIENT_ID=your_firebase_web_client_id
